<!DOCTYPE html>
{% extends 'staticpages/navbar.html' %}
{% block content %}
<html>
    <head>
        <meta charset="utf-8">
        <title>upload</title>
    </head>

    <body>
        <!-- List of uploaded documents -->
        {% if documents %}
            <ul>
                {% for document in documents %}
                    <li><a href="{{ document.docfile.url }}">Document name: {{ document.name }}, Course: {{ document.course }}, User: {{ document.user }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No documents.</p>
        {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url 'documents:list' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.as_p}}

            <p><input type="submit" value="Upload"/></p>
        </form>
    </body>

</html>
{% endblock %}