<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tdt4145</title>
</head>
<body>
    <h1>TDT4145</h1>
    <p>
        Her er en oversikt over dokumenter knyttet til TDT4145.
    </p>
    <!--Tabell-->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Dokument</th>
                    <th>Status</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Forelesning1</td>
                    <td>ja</td>
                </tr>
                <tr>
                    <td>Forelesning2</td>
                    <td>ja</td>
                </tr>
                <tr>
                    <td>Forelesning3</td>
                    <td>nei</td>
                </tr>
            </tbody>
        </table>
</body>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
</html>