{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
            <!---->
        <meta charset="UTF-8">
        <title>TDT4180</title>
    </head>

    <body>

    <!--Tittel-->
        <h1>TDT4180</h1>

    <!--velkomsttekst-->
        <p>
            Her er en oversikt over dokumenter knyttet til TDT4180.
        </p>

    <!--Tabell-->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Øvinger</th>
                    <th><p style="font-family:courier;">Status</p></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Øving1</td>
                    <td>ja</td>
                </tr>
                <tr>
                    <td>Øving2</td>
                    <td>ja</td>
                </tr>
                <tr>
                    <td>Øving3</td>
                    <td>nei</td>
                </tr>
            </tbody>
        </table>


    <table class="table table-striped">
            <thead>
                <tr>
                    <th>Forelesningsmateriell</th>
                    <th>Status</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Forelesning1</td>
                    <td>ja</td>
                </tr>
                <tr>
                    <td>Forelesning2</td>
                    <td>ja</td>
                </tr>
                <tr>
                    <td>Forelesning3</td>
                    <td>nei</td>
                </tr>
            </tbody>
        </table>
    </body>

</html>

<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">