/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  background-color: white;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;

}

/* NAVBAR*/
/*-----------------------------------------------*/
.navbar-custom {
    background-color:white;
    color:#ffffff;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
    text-shadow: none;
}

.navbar-custom .navbar-nav > .active > a {
    color: #ffffff;
    background-color:transparent;
    text-shadow: none;
}

.navbar-custom .navbar-nav > li > a:hover{
  color: #33bce6;
  background-color: white;
  text-shadow: none;
}
.navbar-custom .navbar-nav > li > a{
  color: black;
  text-shadow: none;
}
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: white;
}

.navbar-custom .navbar-brand {
    color:#ffffff;
}
.navbar-custom .navbar-toggle {
    background-color:#ffffff;
}
.navbar-custom .icon-bar {
    background-color:white;
}
.navbar-custom .navbar-text {
  color: #ffffff;
}
/*-----------------------------------------------*/

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  width: 100%;
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #ffffff;

}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
  color: dimgray;
  box-shadow: none;
}

.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
  color: slategray;
  text-shadow: none;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 20px 0; /* Space out the Bootstrap <hr> more */
  color: #000;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container{
    padding-right: 15px;
    padding-left: 15px;
    display: inline-flex;
  }

  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;

  }
  .navbar-wrapper .navbar-header{
    display: inline-block;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
.maincontent{
  text-align: center;
  margin-top: 120px;
  margin-left: 50px;
  margin-right: 50px;
}
/*
 * Globals
 */


/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default:default{
  color: white;
}

.btn-default:hover,
.btn-default:focus {
  color: black;
}
.btn-default,
.btn-default:hover,
.btn-default:focus {
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: dodgerblue;
  border: 1px solid #fff;
}




/*
 * Base structure
 */


html,
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  background-color: dodgerblue;

}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
  background:rgba(100,100,100,0.5);
  border-radius: 25px;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


.logo{
  background-color: transparent;
}
/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
    padding-top: 20px;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 80%;
  }
}

.maincontainer{
  background:white;
  border-radius: 25px;
  text-align: center;
  margin-top: 120px;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.img-rounded{

}
.maincontainer a, p, h1, h2, h3, h4, h5, h6{
  text-align: center;
  color: dimgray;
  text-shadow: none;
}
.maincontainer ul, li, a{
  padding: 0;
  list-style-type: none;
}
.quote{
  font-size: 25px;
  color: dimgray;
  text-shadow: none;
  margin-left: 15%;
  margin-right: 15%;
}

.featurette-image{
  border-radius: 25px;
}
.col-md-5{
  padding-top: 5%;
}
#welcome{
  color: dodgerblue;
}
footer{
  padding-top: 2%;
}
.foot{
  color: white;
}
li{
  color: dimgray;
  text-shadow: none;
}
.col-lg-4 a{
  color: white;
}
.buttontext{
  color: white;
}
#logout{
  float: right;
  font-size: 10px;
  color: black;
  text-shadow: none;
  padding-top: 4%;
  padding-right: 1%
}