
ul {
  list-style-type: none;
}
.rating {
    float:none;
    width:300px;
}
.rating span { float:left; position:center; }
.rating span input {
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
}
.rating span label {
    display:inline-block;
    width:30px;
    height:30px;
    text-align:center;
    color:white;
    background:#ccc;
    font-size:40px;
    margin-right:2px;
    line-height:30px;
    border-radius:50%;
    -webkit-border-radius:50%;
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
    background-color: yellow;
    color: yellow;
}