
.quizlist ul,li {
  list-style-type: none;
  color: dimgray;
  font-size: 20px;
}
.quizlist ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.quizlist li {
  border-bottom: 1px solid #ccc;
}

.quizlist li:last-child {
  border: none;
}

.quizlist li a {
  text-decoration: none;
  color: dimgrey;
  display: inline-block;
  width: 200px;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

.quizlist li a:hover {
  font-size: 25px;
  background: #f6f6f6;
}