<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
</head>
<body>
    {% for quiz in Quiz %}
        <p>{{ quiz.quiz_navn }}, {{ quiz.course }}</p>

        {% for question in Question %}
            {% if question.quiz.quiz_navn in quiz.quiz_navn %}

            <p>{{ question.spoersmaal_stilt }}</p>

            {% for answer in Answer %}
                {% if answer.question.spoersmaal_stilt in question.spoersmaal_stilt and question.quiz.quiz_navn == quiz.quiz_navn %}
                    <p>{{ answer.answer_alt }},
                    {% if answer.isRight %}
                        true
                    {% endif %}
                    </p>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}

    {% endfor %}

</body>
</html>