<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Quiz</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
   <!--<link href="../../static/css/quiz.css" rel="stylesheet"> -->


    <!--[endif]-->

</head>

<body>
<div class="container">

        <div id="quiz">

            <h1>QUIZ</h1>

            <p id="question"></p>

            <div class="buttons">
                <button id="button0" type="button" class="btn btn-primary"></button>
                <button type="button" class="btn btn-primary"></button>
                <button type="button" class="btn btn-primary"></button>
                <button type="button" class="btn btn-primary"></button>
            </div>
        </div>

</div>
    <!-- bootstrap.js -->
    <script src="../../static/js/bootstrap"></script>


</body>


</html>