{% extends 'staticpages/navbar.html' %}
{%  load staticfiles %}

{% block content %}
    <div class="maincontainer">
        <div id='title'>
            <h1>Quiz</h1>
            <div id="myProgress"> </div> <div id="myBar"></div></div>
            <br/>
            <div id='quiz'></div>
            <div class='btn btn-lg btn-primary btn-block' id='next'><a href='#'>Next</a></div>
            <div class='btn btn-lg btn-primary btn-block' id='prev'><a href='#'>Prev</a></div>
            <div class='btn btn-lg btn-primary btn-block' id='start'> <a href='#'>Start Over</a></div>
            <!-- <button class='' id='next'>Next</a></button>
            <button class='' id='prev'>Prev</a></button>
            <button class='' id='start'> Start Over</a></button> -->
            <div class="stars">
              <form action="">
                <input class="star star-5" id="star-5" type="radio" name="star"/>
                <label class="star star-5" for="star-5"></label>
                <input class="star star-4" id="star-4" type="radio" name="star"/>
                <label class="star star-4" for="star-4"></label>
                <input class="star star-3" id="star-3" type="radio" name="star"/>
                <label class="star star-3" for="star-3"></label>
                <input class="star star-2" id="star-2" type="radio" name="star"/>
                <label class="star star-2" for="star-2"></label>
                <input class="star star-1" id="star-1" type="radio" name="star"/>
                <label class="star star-1" for="star-1"></label>
              </form>
            </div>
            <p id="takk"></p>

    </div>
    <!-- javascript & CSS-->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
    <script src="{% static 'js/quiz.js' %}"></script>
    <script src="{% static 'js/rating.js' %}"></script>
    <link type="text/css" href="{% static 'css/cover.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/quiz.css' %}" rel="stylesheet">
    <script scr="{% static 'js/progressbar.js' %}"></script>

{%  endblock %}