{% extends 'staticpages/navbar.html' %}
{%  load staticfiles %}

{% block content %}
    <div class="maincontainer">
        <div id='title'>
            <h1>Quiz</h1>
        </div>
            <br/>
            <div id='quiz'></div>
            <div class='btn btn-lg btn-primary btn-block' id='next'><a href='#'>Next</a></div>
            <div class='btn btn-lg btn-primary btn-block' id='prev'><a href='#'>Prev</a></div>
            <div class='btn btn-lg btn-primary btn-block' id='start'> <a href='#'>Start Over</a></div>
            <!-- <button class='' id='next'>Next</a></button>
            <button class='' id='prev'>Prev</a></button>
            <button class='' id='start'> Start Over</a></button> -->
    </div>
    <!-- javascript -->
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
    <script src="{% static 'js/quiz.js' %}"></script>
    <link href="{% static 'css/cover.css' %}" rel="stylesheet">
    <link href="{% static 'css/quiz.css' %}" rel="stylesheet">
{%  endblock %}