{% extends 'staticpages/navbar.html' %}
{% load staticfiles %}
{% block content %}

{% block page_title %}
    <h2>Quiz categories</h2>
{% endblock %}

{% block header %}
    <h3>Categories</h3>
{% endblock %}

{% block article %}

    {% if categories %}
        <ul>
        {% for category in categories %}
            <li>
                <a href="{% url "quiz:quiz_category" category.id %}">
                    {{ category.name }}
                </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>There are no categories.</p>
    {% endif %}

{% endblock %}
{% endblock %}