{% extends 'staticpages/navbar.html' %}
{% load staticfiles %}
{% block content %}
{% load i18n %}

{% block page_title %}
    <h2>Quizzes related to {{ category.name }}</h2>
{% endblock %}

{% block header %}
    <h3>Quizzes in {{ category.name }}</h3>
{% endblock %}

{% block article %}

    {% if quizzes %}
        <ul>
        {% for quiz in quizzes %}
            <li>
                <a href="{% url "quiz:quiz_take" quiz.id %}">
                    {{ quiz.title }}
                </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>There are no quizzes.</p>
    {% endif %}

{% endblock %}
{% endblock %}