<!DOCTYPE html>
{% extends "staticpages/navbar.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ course_code }}</title>
</head>
<body>

<div>
    <h1>{{ current_course }}</h1>
    <p>Velkommen til siden til {{ current_course }}. Her kan du se en liste over alle medlemmer, samt tilhørende dokumenter og quizzer</p>

</div>
<div>
    <h2> her er en liste over deltagere</h2>
    {% for item in participants %}
        <p> {{ item.first_name }}{{ item.last_name }}</p>
    {% endfor %}
</div>


</body>
</html>
{% endblock %}