{% extends 'staticpages/navbar.html' %}
{%  load staticfiles %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ current_course }}</title>
</head>
<body>

<div>
    <h1>{{ current_course }}</h1>
    <p>Velkommen til siden til {{ current_course }}. Her kan du se en liste over alle medlemmer, samt tilhørende dokumenter og quizzer</p>

</div>
<div>

    {% if categories %}
        <ul>
        {% for category in categories %}
            {% ifequal current_course|stringformat:"s" category.name  %}
            <li>
                <a href="{% url "quiz:quiz_category" category.id %}">
                    {{ category.name }}
                </a>
            </li>
            {% endifequal %}
        {% endfor %}
        </ul>
    {% endif %}

</div>


</body>
</html>
{% endblock %}